.about-wrap .wp-badge {
	background-image: url(../images/logo.png);
	background-color: #fff;
	color: #222;
	text-transform: uppercase;
	font-weight: bold;
	text-decoration: none;
}

.wp-badge:hover {
	text-decoration: none;
}

.feature-section.two-col {
	align-items: flex-start;
}

.feature-section.two-col h3:not(:first-child) {
	margin-top: 3em;
}

.feature-section img {
	display: block;
	box-shadow: 0 0 20px rgba(0, 0, 0, .1);
}

.nav-tab-active:focus {
	box-shadow: none;
}

.gt-tab-pane {
	display: none;
}

.gt-is-active {
	display: block;
}

.form-table tr {
	border-bottom: 1px solid #ddd;
}

.form-table th {
	padding-left: 10px;
}

.form-table th:not(:first-child),
.form-table td:not(:first-child) {
	width: 15%;
	text-align: center;
}

.about-wrap td h3 {
	margin-top: 0;
}

.form-table .dashicons {
	font-size: 35px;
	width: 35px;
	height: 35px;
}

.form-table .dashicons-yes {
	color: green;
}

.form-table .dashicons-no {
	color: red;
}
