/*Stylic Theme*/
/*general*/
body {
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    padding: 0;
    margin: 0;
}
/*typography*/
/*headings*/
.h1,
.h2,
.h3,
h1,
h2,
h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}
h1 {
    font-size: 30px;
    color: #14213d;
}
h2 {
    font-size: 24px;
    letter-spacing: 0.5px;
    color: #14213d;
}
h3 {
    font-size: 18px;
    letter-spacing: 0.5px;
    line-height: 20px;
    color: #14213d;
}
h4 {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.5px;
}
/*paragraphs*/
p {
    font-size: 14px;
    line-height: 25px;
    color: #14213d;
    font-weight: 400;
}
.section {
    margin: 75px 0 75px 0px;
}
/*button*/
a:focus,
a:hover {
    text-decoration: none;
}
html,
body,
div,
span,
applet,
object,
iframe,
p,
a,
abbr,
acronym,
address,
big,
cite,
del,
dfn,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
tt,
var,
b,
u,
i,
center,
fieldset,
form,
label,
legend,
.pagination {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    list-style: none;
}
a,
h3 {
    text-decoration: none;
    color: #14213d;
}
a,
h3,
input,
button {
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
}
.single-blog-content ul {
    list-style: none;
}
.single-blog-content ul li {
    text-align: left;
    text-indent: -17px;
}
.single-blog-content ul li:before {
    content: "\00BB \0020";
    font-size: 20px;
    color: #1196dd;
    font-weight: bold;
}
/*START HEADER*/
/*logo*/
.logo-main{float: left;}
.logo-main a{display: block;}
.main_row {margin-top: 10px;}
img.custom-logo {
    margin-top: 0px;
    height: auto;
    padding: 10px 0px;
    max-height: 80px;
}
.header-list-item{float: right;}
.sub-header-fixed .header-cart:hover {background: #14213D;}
.sub-header-fixed .header-cart:hover span a,
.sub-header-fixed .header-cart:hover i {color: #ffffff;}
.sub-header-fixed .kidscar_logo {
    background-image: url(../images/logo-b.png);
    background-repeat: no-repeat;
}
.sub-header-fixed #cssmenu > ul > li > a {
    color: #14213d;
}
.sub-header-fixed #cssmenu > ul > li > a.active {
    color: #fca311;
}
.sub-header-fixed {
    background: #ffffff;
}
.sub-header-fixed #cssmenu > ul > li.menu-item-has-children > a::after,
.sub-header-fixed #cssmenu > ul > li.menu-item-has-children > a::before {
    border-bottom: 1px solid #14213d;
    border-right: 1px solid #14213d;
}
.fixed-header,
.blackMenu {
    background: #fff;
    width: 100%;
}
.blackMenu .main_row {
    margin-top: 0;
}
.navbar-fixed-top {
    border-width: 0 0 1px;
    color: #212121;
}
.navbar {
    margin-bottom: 0px;
}
.blackMenu #cssmenu ul li a {
    color: #14213d;
}
.blackMenu li.header-cart {
    margin-top: 8px;
}

.blackMenu #cssmenu > ul > li > a {
    padding: 15px 15px 27px 15px;
}
#cssmenu > ul > li.menu-item-has-children > a {
    padding-right: 25px;
}
/*cart*/
li.header-cart {
    background: #fca311;
    border-radius: 3px;
    padding: 6px 12px;
    margin-top: 7px;
    margin-left: 10px;
    cursor: pointer;
}   
.header-cart .fa.fa-shopping-cart {
    color: #fff;
    font-size: 16px;
}
.mob_nav .fa.fa-shopping-cart.mob-cart {
    display: none;
}
.header-cart span a {
    color: #ffffff;
    font-size: 12px;
    float: left;
    margin-right: 10px;
    margin-top: 1px;
    transition: none;
    -moz-transition: none;
    -webkit-transition: none;
}
/*main menu*/
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #menu-button {
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#cssmenu ul {
    margin-bottom: 0;
    padding: 0;
}
#cssmenu:after,
#cssmenu > ul:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
#cssmenu {
    line-height: 1;
    float: right;
}
#cssmenu > ul > li {
    float: left;
}
#cssmenu > ul > li > a {
    padding: 15px 15px 15px 15px;
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    -webkit-transition: color .2s ease;
    -moz-transition: color .2s ease;
    -ms-transition: color .2s ease;
    -o-transition: color .2s ease;
    transition: color .2s ease;
    font-weight: 400;
    outline: none;
}
.sub-header-fixed #cssmenu > ul > li > a {
    padding:33px 15px;
}
#cssmenu > ul > li > a.active {
    color: #fca311;
}
.blackMenu #cssmenu > ul > li > a.active {
    color: #fca311;
}
#cssmenu > ul > li.menu-item-has-children > a {
    padding-right: 25px;
}
.blackMenu #cssmenu > ul > li.menu-item-has-children > a::after {
    border-bottom: 1px solid #14213d;
    border-right: 1px solid #14213d;
}
#cssmenu > ul > li.menu-item-has-children > a::after {
    position: absolute;
    top: 35px;
    right: 13px;
    width: 5px;
    height: 5px;
    border-bottom: 1px solid #FFF;
    border-right: 1px solid #FFF;
    content: "";
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: border-color 0.2s ease;
    -moz-transition: border-color 0.2s ease;
    -ms-transition: border-color 0.2s ease;
    -o-transition: border-color 0.2s ease;
    transition: border-color 0.2s ease;
}
#cssmenu ul ul {
    position: absolute;
    left: -9999px;
    padding-top: 1px;
}
#cssmenu ul ul li {
    height: 0;
    -webkit-transition: height .2s ease;
    -moz-transition: height .2s ease;
    -ms-transition: height .2s ease;
    -o-transition: height .2s ease;
    transition: height .2s ease;
}
#cssmenu ul ul li a {
    padding: 10px 20px;
    width: 160px;
    font-size: 12px;
    background: #fff;
    text-decoration: none;
    color: #000;
    -webkit-transition: color .2s ease;
    -moz-transition: color .2s ease;
    -ms-transition: color .2s ease;
    -o-transition: color .2s ease;
    transition: color .2s ease;
    font-weight: 400;
    text-transform: uppercase;
    z-index: 9999;
}
#cssmenu ul ul li.menu-item-has-children:hover > a::after {
    border-color: #ffffff;
}
#cssmenu ul ul li.menu-item-has-children > a::after {
    position: absolute;
    top: 13px;
    right: 10px;
    width: 4px;
    height: 4px;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    content: "";
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: border-color 0.2s ease;
    -moz-transition: border-color 0.2s ease;
    -ms-transition: border-color 0.2s ease;
    -o-transition: border-color 0.2s ease;
    transition: border-color 0.2s ease;
}
#cssmenu ul ul ul {
    margin-left: 100%;
    top: 0;
    padding-top: 0;
}
#cssmenu #menu-button {
    display: none;
}
#menu-line {
    position: absolute;
    top: 0;
    left: 0;
    height: 3px;
    background: #fca311;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -ms-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    display: none;
}
#cssmenu.align-center > ul {
    font-size: 0;
    text-align: center;
}
#cssmenu.align-center > ul > li {
    display: inline-block;
    float: none;
}
#cssmenu.align-center ul ul {
    text-align: left;
}
#cssmenu.align-right > ul > li {
    float: right;
}
#cssmenu.align-right ul ul {
    text-align: right;
}
#cssmenu > ul > li:hover > a {
    color: #fca311;
}
.blackMenu #cssmenu > ul > li:hover > a {
    color: #fca311;
}
#cssmenu > ul > li.menu-item-has-children:hover > a::after {
    border-color: #fca311;
}
#cssmenu li:hover > ul {
    left: auto;
}
#cssmenu.align-right li:hover > ul {
    right: 0;
}
#cssmenu.align-right ul ul ul {
    margin-left: 0;
    margin-right: 100%;
}
#cssmenu ul li:hover > ul > li {
    height: auto;
}
#cssmenu ul ul li:hover > a,
#cssmenu ul ul li a:hover {
    color: #fff;
    background:#fca311;
}
#cssmenu.align-right ul ul li.menu-item-has-children > a::after {
    right: auto;
    left: 10px;
    border-bottom: 0;
    border-right: 0;
    border-top: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
}
ul.sub-menu .submenu-right {
    right: 100%;
}
ul.sub-menu .submenu-left {
    left: 100%;
}
/*Start Blog*/
/*Start Slide Blog*/
.slide-text-bog {
    padding: 15px 10px;
    line-height: 25px;
}
.no-padding {
    padding: 0;
}
.no-padding:hover,
.main-blog-hover:hover {
    background: rgba(252,163,17,0.1);
}
.slide-blog-date {
    text-transform: capitalize;
        font-size: 12px;
    opacity: 0.5;
    margin-bottom: 0px;
    font-weight: 500;
}
.slide-blog-title {
    margin-bottom: 3px;
}
.slide-blog-subtitle p {
    opacity: 0.5;
    margin-bottom: 5px;
}
.slide-blog-more-button a {
    font-weight: 500;
}
.slide-text-bog:hover . {
    background: #FEF5E4;
}
.slide-blog-more-button a:hover,
.blog-slide-post a:hover,
.blog-nav-next:ahover {
    color: #fca311;
}
.image-zoom {
    transition: opacity 1s, -webkit-transform 1s;
    transition: opacity 1s, transform 1s;
    transition: opacity 1s, transform 1s, -webkit-transform 1s;
}
.zoom-effect:hover .image-zoom {
    -webkit-transform: scale(1.08);
    transform: scale(1.08);
}
.slide-blog-title h3 a{
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}
/*pagination*/
.current,
.page-numbers {
    padding: 5px 10px;
    color: #14213d;
    font-size: 15px;
    font-weight: 500;
    border: 1px solid #c6c6c6;
}
.current:hover {
    background: #14213d;
    color: #fff;
    border-color: #14213d;
}
.page-numbers.current {
    background: #14213d;
    color: #fff;
    border: 0;
}
.page-numbers, .woocommerce nav.woocommerce-pagination ul li a{padding: 5px 10px;}
.woocommerce nav.woocommerce-pagination ul li a:hover{
    background: #14213d;
    color: #ffffff;
    border-color: #14213d;
}
.woocommerce nav.woocommerce-pagination ul{border: none;}
.woocommerce nav.woocommerce-pagination ul li span.current{    padding: 6px 10px;
    color: #fff;}
.woocommerce .woocommerce-result-count{ margin-top: 7px;}
.navigation.pagination {
    width: 100%;
    color: #fff;
}
.screen-reader-text {
    display: none;
}
.nav-links {
    padding-right: 15px;
    display: inline-block;
    float: right;
    margin-bottom: 15px;
}
.page-links span{
    padding: 0px 7px;
    font-size: 15px;
}
/*End Slide Blog*/
/*Zoom Image*/
.image-card {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: opacity 1s, -webkit-transform 1s;
    transition: opacity 1s, transform 1s;
    transition: opacity 1s, transform 1s, -webkit-transform 1s;
    min-height: 470px;
    width: 100%;
}
.zoom-effect:hover .image-card {
    -webkit-transform: scale(1.08);
    transform: scale(1.08);
}
.zoom-effect {
    position: relative;
    width: 100%;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
    cursor: pointer;
}
.blur-img.light_image {
    height: 0;
}
.image-card {
    top: 0;
    left: 0;
}
.kidcar_image_zoom {
    padding: 0;
    margin: 0;
}
.right-zoom {
    float: right;
}
/*blog sidebar*/
.blog-tags li {
    float: left;
}
.blog-tags a {
    padding: 5px 8px;
    border: 1px solid #14213D;
    margin: 5px 5px 5px 0;
    border-radius: 2px;
}
.tagcloud a:hover {
    background: #14213d;
    margin-left: 0;
    color: #ffffff;
}
input.blog-side-search:focus {
    border-color: #14213d;
}
input.blog-side-search {
    padding: 5px;
    margin-bottom: 25px;
    border-radius: 2px;
    border: 1px solid #ccc;
    width: 100%;
    margin-top: 35px;
}
.blog-tags ul {
    display: inline-block;
}
.sidebar-content {
    margin-bottom: 25px;
}
/*blog sidebar end*/
.page-heading-blog {
    background: #14213d;
    padding: 15px 0 15px;
}
.blog-breadcrumb {
    margin-top: 3px;
    text-align: center;
}
.blog-breadcrumb a.blog-home {
    color: #fff;
    opacity: 0.6;
    margin-left: 15px;
}
.blog-breadcrumb h5.blog-news {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}
.blog-breadcrumb i {
    color: #ffffff;
    font-size: 15px;
}
.slide-text-bog {
    padding: 15px 10px;
}
.main-blog-hover {
    margin-bottom: 30px;
}

.blog-slide-post {
    border-top: 1px solid #e6e6e6;
    margin-bottom: 7%;
}
.blog-nav-next {
    float: left;
    margin-top: 15px;
}
.blog-nav-previous {
    float: right;
    margin-top: 15px;
}
.blog-nav-next .fa.fa-angle-left {
    margin-right: 7px;
    font-size: 15px;
}
.blog-nav-previous .fa.fa-angle-right {
    margin-left: 7px;
    font-size: 15px;
}
.blog-nav-next a,
.blog-nav-previous a {
    font-weight: 500;
}
.blog-nav-next a:hover,
.blog-nav-previous a:hover,
.slide-blog-more-button a:hover {
    color: #FCA311;
}
.blog-down.blog-down-up {
    border-top-width: 0;
    border-bottom: 4px solid #fff;
}
.blog-header-category {
    float: right;
}
.orderby {
    padding: 0px 10px;
    height: 34px;
    border-radius: 0px;
    border-color: #ccc;
}
.blog-header-category .demo select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url(../images/down-arrow.png) no-repeat 97%;
    width: 220px;
    color: #c2c3c5;
    padding: 3px;
    border: 1px solid #dadada;
    background-size: 7%;
    cursor: pointer;
    padding-left: 10px;
}
.blog-header-category .demo select.balck {
    background-color: #000;
}
.blog-header-category .demo option {
    padding: 0 0 3px 10px;
}
.blog-header-category select:focus {
    outline: none;
    box-shadow: none;
}
/*START BLOG-1*/
.md-right {
    float: right;
}
.blog1-main-items {
    text-align: left;
    padding-left: 5px;
}
.blog1-main-items h2 {
    text-transform: uppercase;
    margin-top: 0px;
}
.blog1-main-items p {
    margin-top: 9px;
    opacity: 0.5;
    font-weight: 500;
}
.blog1-main-items p a:hover,
.reply a:hover,
.logged-in-as a:hover,
.comment-author .fn a:hover,
.single-blog-tag a:hover {
    color: #FCA311;
}
.blog1-main-items p {
    opacity: 1;
}
.blog1-imagesItems-content {
    margin: 25px 0;
    padding-left: 5px;
}
.blog1-subtext-content p {
    margin-bottom: 16px;
}
.blog1-subtext-content {
    padding: 0 5px;
}
.blog1-comment-form {
    padding: 0 15px 0 15px;
}
.blog1-text-title {
    margin-bottom: 15px;
}
.form-control:focus {
    border-color: #14213d;
    box-shadow: none;
}
textarea.form-control {
    border-radius: 0;
}
.blog1-comment-content {
    text-align: center;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    margin-top: 10px;
    padding: 11px 0;
    color: #14213d;
    font-weight: 500;
    display: inline-block;
    width: 100%;
}
.blog1-comment-items {
    padding: 25px 0;
    border-bottom: 1px solid #e6e6e6;
}
.blog1-comment-review-text {
    color: #14213d;
    margin-bottom: 15px;
}
.blog1-comment-review-details {
    color: #14213d;
    opacity: 0.5;
    font-weight: 600;
}
.blog1-comment-review-details span {
    font-weight: 400;
}
.leave-comment {
    margin-top: 0;
    border-top: 0;
}
.blog1-comment-form-content {
    margin: 30px 0;
}
.blog1-comment-form-content .form-control {
    height: 48px;
    width: 48%;
    float: left;
    border-radius: 0;
    margin-bottom: 30px;
}
.blog1-comment-form-content #name {
    margin-right: 32px;
}
/*input placeholder*/
.blog1-comment-form-content input::-webkit-input-placeholder {
    color: #14213d;
    opacity: 0.5;
}
.blog1-comment-form-content input:-moz-placeholder {
    /* Firefox 18- */
    color: #14213d ;
    opacity: 0.5;
}
.blog1-comment-form-content input::-moz-placeholder {
    /* Firefox 19+ */
    color: #14213d;
    opacity: 0.5;
}
/*textarea placeholder*/
.blog1-subtext-content .form-control textarea::-webkit-input-placeholder {
    color: #14213d;
    opacity: 0.5;
}
.blog1-subtext-content .form-control textarea:-moz-placeholder {
    /* Firefox 18- */
    color: #14213d;
    opacity: 0.5;
}
.blog1-subtext-content textarea.form-control textarea::-moz-placeholder {
    /* Firefox 19+ */
    color: #14213d;
    opacity: 0.5;
}
.blog1-subtext-content textarea.form-control textarea:-ms-input-placeholder {
    color: #14213d;
    opacity: 0.5;
}
.blog1-comment-form-content .form-control:focus,
.blog1-subtext-content textarea.form-control:focus {
    border-color: #14213d;
    box-shadow: none;
}
/*focus*/
.blog1-subtext-content textarea.form-control {
    border-radius: 0;
    height: 105px;
}
.blog1-post-btn {
    margin-top: 43px;
}
.blog1-post-btn a {
    margin-top: 30px;
    padding: 13px 15px;
}
/*header breadcrumb*/
body.archive.post-type-archive.post-type-archive-product.woocommerce.woocommerce-page {
    margin: 0;
}
.product-row .product-head {
    margin-top: 0px;
}
.breadcrumb span.arrow {
    margin: 0 10px;
    line-height: 0;
    display: inline-block;
    border-left: 4px solid #cbcbcb;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
}
.breadcrumb {
    padding: 10px 6px;
    background: transparent;
}
.breadcrumb a {
    font-size: 12px;
}
.breadcrumb a:hover {
    color: #fca311;
}
.star-rating span {
    color: #FCA311;
}
.woocommerce-page .woocommerce{
    margin-bottom: 45px;
}
.woocommerce p.stars a {
    position: relative;
    height: 1em;
    width: 1em;
    margin-top: 10px;
    margin-right: 5px;
    text-indent: -999em;
    display: inline-block;
    text-decoration: none;
}
.woocommerce-review-link {
    padding-left: 5px;
}
.cart {
    margin-top: 2em;
}
.single_add_to_cart_button.button.alt {
    padding: 0.715em 1em;
}
p.comment-form-rating {
    padding: 10px 0 0 0;
}
.woocommerce form .form-row input.input-text, 
.woocommerce form .form-row textarea{
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-left: 5px;
    outline: 0;
    line-height: 2;
    border: 1px solid #ccc;
    padding: 2px 5px;
}
#woocommerce-sort-by-columns {
    border-radius: 0px;
}
#add_payment_method table.cart td.actions .coupon .input-text, .woocommerce-cart table.cart td.actions .coupon .input-text, .woocommerce-checkout table.cart td.actions .coupon .input-text{
    padding: 2px 6px;
    line-height: 2;
}
.woocommerce form .form-row .input-checkbox{
    margin: 0;
    position: relative;
}
#add_payment_method #payment, .woocommerce-cart #payment, .woocommerce-checkout #payment {
    background: #fafafa;
}
.woocommerce-checkout #payment div.payment_box{
    background: #efefef;
}
.woocommerce-checkout #payment div.payment_box::before{
    border-color: #efefef;
    border-right-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;
}
.woocommerce-page ul.products li.product .woocommerce-LoopProduct-link{
    min-height:210px;
    display: block;
}
.woocommerce ul.products li.product .price del{
    display: inline;
}
.woocommerce .related ul.products li.product .button{
    text-align:center;
}
/*sub-shop*/
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
    font-size: 100%;
    margin: 0;
    line-height:1;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    overflow: visible;
    padding: 0.715em 1em;
    font-weight: 700;
    border-radius: 0px;
    outline: none;
    text-align: center;
    left: auto;
    color: #fff;
    background-color: #ebe9eb;
    border: 0;
    white-space: nowrap;
    display: inline-block;
    background-image: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    text-shadow: none;
    border-radius: 3px;
}
.added_to_cart.wc-forward {
    background: #14213D;
    color: #fff;
    font-size: 100%;
    margin: 6px 0;
    line-height: 1;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    overflow: visible;
    padding: 0.715em 1em;
    font-weight: 700;
    border-radius: 0px;
    outline: none;
    text-align: center;
    left: auto;
    border: 0;
    white-space: nowrap;
    display: inline-block;
    background-image: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    text-shadow: none;
}
.added_to_cart.wc-forward:hover{
    background: #FCA311;
}
.woocommerce div.product div.images .woocommerce-product-gallery__image:nth-child(n+2) {
    width: 25%;
    display: inline-block;
    padding-top: 1em;
    margin-right: 3.8%;
    margin-bottom: 1em;
}
.woocommerce div.product .woocommerce-tabs ul.tabs::before {
    position: absolute;
    content: ' ';
    width: 100%;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid #E4E1E3;
    z-index: 1;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li::after, .woocommerce div.product .woocommerce-tabs ul.tabs li::before {
    border: 1px solid #fff;
    position: absolute;
    display: none;
    bottom: -1px;
    width: 5px;
    height: 5px;
    content: ' ';
}
.woocommerce div.product .woocommerce-tabs ul.tabs li {
    border: 1px solid #E4E1E3;
    background-color: #14213D;
    display: inline-block;
    position: relative;
    z-index: 0;
    border-radius: 0 0 0 0;
    margin: 0 -5px;
    padding: 0 1em;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li::before {
    left: -5px;
    box-shadow: 2px 2px 0 #14213D;
    border-bottom-right-radius: 0px;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li a {
    display: inline-block;
    padding: .5em 0;
    font-weight: 700;
    color: #ffffff;
    text-decoration: none;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li a:hover {
    text-decoration: none;
    color: #fca311;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li::after {
    right: -5px;
    box-shadow: -2px 2px 0 #14213D;
    border-bottom-left-radius: 0px;
}
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button{
    padding: 14px;
}
.woocommerce #respond input#submit.disabled,
.woocommerce #respond input#submit:disabled,
.woocommerce #respond input#submit:disabled[disabled],
.woocommerce a.button.disabled,
.woocommerce a.button:disabled,
.woocommerce a.button:disabled[disabled],
.woocommerce button.button.disabled,
.woocommerce button.button:disabled,
.woocommerce button.button:disabled[disabled],
.woocommerce input.button.disabled,
.woocommerce input.button:disabled,
.woocommerce input.button:disabled[disabled],
.woocommerce #respond input#submit.disabled:hover,
.woocommerce #respond input#submit:disabled:hover,
.woocommerce #respond input#submit:disabled[disabled]:hover, 
.woocommerce a.button.disabled:hover, 
.woocommerce a.button:disabled:hover,
.woocommerce a.button:disabled[disabled]:hover,
.woocommerce button.button.disabled:hover, 
.woocommerce button.button:disabled:hover, 
.woocommerce button.button:disabled[disabled]:hover, 
.woocommerce input.button.disabled:hover, 
.woocommerce input.button:disabled:hover, 
.woocommerce input.button:disabled[disabled]:hover{
    color: #fff;
}
.woocommerce .variations select {
    max-width: 100%;
    min-width: 75%;
    display: inline-block;
    margin-right: 2em;
    padding: 0.715em 1em;
}
button.single_add_to_cart_button.button.alt.disabled.wc-variation-selection-needed{
    
    background: #14213D;
    padding: 0.715em 1em;
}
button.single_add_to_cart_button.button.alt.disabled.wc-variation-selection-needed:hover{
    background: #fca311;
    color: #fff;
}
.woocommerce .quantity .qty {
    width: 3.631em;
    text-align: center;
    height: 34px;
    margin: 0;
    padding: 2px;
}
.woocommerce ul.order_details {
    background: #fafafa;
    padding: 15px;
}
.woocommerce-notice.woocommerce-thankyou-order-received {
    border-top: 3px solid #DFF0D8;
    padding: 5px 10px;
    margin: 0 0 10px;
    background: #F7F6F7;
}
/*cart page*/
.woocommerce .cart-collaterals .cross-sells ul.products li, .woocommerce-page .cart-collaterals .cross-sells ul.products li {
    width: 46%;
}
/*End*/
/*sub-shop-End*/
/*My Account */
.woocommerce form.login{max-width: 400px;margin: 0 auto;}
.woocommerce .woocommerce-ResetPassword.lost_reset_password{    padding-top: 30px;}
.woocommerce-MyAccount-navigation ul {
    margin-left: 0;
    padding-left: 0;
    list-style: none;
}
.woocommerce-MyAccount-navigation ul li{
    margin: 15px 0;
}
.woocommerce-MyAccount-navigation ul li a:hover {
    margin-left: 3px;
    transition: .5s;
}
.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 0px;
}
.select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 34px;
    -webkit-user-select: none;
}
.woocommerce-Button.button {
    margin-left: 3px !important;
}
p.woocommerce-LostPassword.lost_password {
    padding-left: 5px;
}
.woocommerce-page table.cart td.actions .input-text{
    width: auto;
}
.woocommerce .woocommerce-ordering{
    margin-bottom: 30px;
}
.woocommerce div.product p.price{margin-bottom: 20px;}
.single-product .product{margin-top: 30px;}
.woocommerce div.product form.cart .variations select{height: 40px}
/*My Account End*/
/*header breadcrumb end*/
/*sidebar collection*/
.sidebar-content .search-form {
    position: relative;
}
input[type="submit"].search-submit {
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0;
    width: 40px;
}
input[type="search"].search-field {
    border: 1px solid #c6c6c6;
    outline: 0;
    width: 100%;
    padding-left: 5px;
    border-right: transparent;
    height: 36px;
}
input[type="search"].search-field:focus,
input[type="search"].search-field:hover {
    border-color: #14213d;
}
.search-submit {
    position: absolute;
    right: 0%;
    bottom: 0;
    border: 0;
    padding: 0;
    width: 39px;
    background: #FCA311;
    color: #fff;
    text-align: center;
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
}
.search-submit:hover {
    background: #14213d;
    color: #fff;
}
.search-submit::before {
    content: '\f002';
    font-size: 16px;
    line-height: 36px;
    font-family: 'FontAwesome';
}
.slide-blog-title h3 a:hover,
.slide-blog-date a:hover {
    color: #FCA311;
}
.wpcf7-form label{
    margin: 15px 0;
}
.wpcf7-form input,
.wpcf7-form select,
.wpcf7-form textarea,
.contact-me input[type="submit"] {width: 100%;max-width:500px;}
input,
select,
textarea{
    border: 1px solid #c7c7c7;
    outline: none;
}
input:focus,
input:hover,
select:focus,
select:hover,
textarea:focus,
textarea:hover {
    border-color: #14213d;
}
label {
    display:inherit;
}
/*contact widget starts*/
.contact-me input,.contact-me textarea,.wpcf7 input,.wpcf7 textarea{
    display: inline-block;
    width: 100%;
    margin: 10px 0 15px;
    padding: 6px 12px;
    line-height: 26px;
    background: 0 0;
    border-radius: 0;
    box-shadow: inherit;
    font-weight: lighter;
    border: none;
    border-bottom: 1px solid rgba(7,20,58,.5);
    -webkit-transition: all .3s ease-in-out 0s;
    -moz-transition: all .3s ease-in-out 0s;
    -ms-transition: all .3s ease-in-out 0s;
    -o-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s
}
.contact-me textarea {
    resize: vertical;
    height: 100px
}
.contact-me p {
    margin: 0
}
.contact-me.darkForm input:focus,.contact-me.darkForm textarea:focus,.contact-me.lightForm input:focus,.contact-me.lightForm textarea:focus,input:focus,textarea:focus {
    border-color: #071436;
    outline: 0
}
.contact-me input::-moz-placeholder,.contact-me textarea::-moz-placeholder {
    color: #07143a;
    opacity: .5
}
.contact-me input:focus::-moz-placeholder,.contact-me textarea:focus::-moz-placeholder {
    color: #07143a;
    opacity: 1
}
.contact-me input::-webkit-input-placeholder,.contact-me textarea::-webkit-input-placeholder {
    color: #07143a;
    opacity: .5
}
.contact-me input:focus::-webkit-input-placeholder,.contact-me textarea:focus::-webkit-input-placeholder {
    color: #07143a;
    opacity: 1
}
.contact-me input:-ms-input-placeholder,.contact-me textarea:-ms-input-placeholder {
    color: #07143a;
    opacity: .5
}
.contact-me input:focus:-ms-input-placeholder,.contact-me textarea:focus:-ms-input-placeholder {
    color: #07143a;
    opacity: 1
}
.contact-me .wpcf7-response-output {
    padding: 5px 10px;
    margin: 15px 0
}
.contact-me.darkForm label,.contact-me.lightForm label {
    margin: 0 0 10px;
    display: block;
    line-height: 1;
    font-weight: 400
}
.contact-me.darkForm label {
    color: rgba(255,255,255,.5)
}
.contact-me.darkForm input,.contact-me.darkForm textarea {
    color: #fff;
    border-color: rgba(255,255,255,.2)
}
.contact-me.darkForm .wpcf7-response-output {
    color: #FFF
}
.contact-me.lightForm input,.contact-me.lightForm textarea {
    border-color: #14213d;
}
.contact-me.lightForm input::-moz-placeholder,.contact-me.lightForm textarea::-moz-placeholder {
    color: #07143a;
    opacity: .7
}
.contact-me.lightForm input:focus::-moz-placeholder,.contact-me.lightForm textarea:focus::-moz-placeholder {
    color: #07143a;
    opacity: 1
}
.contact-me.lightForm input::-webkit-input-placeholder,.contact-me.lightForm textarea::-webkit-input-placeholder {
    color: #07143a;
    opacity: .7
}
.contact-me.lightForm input:focus::-webkit-input-placeholder,.contact-me.lightForm textarea:focus::-webkit-input-placeholder {
    color: #07143a;
    opacity: 1
}
.contact-me.lightForm input:-ms-input-placeholder,.contact-me.lightForm textarea:-ms-input-placeholder {
    color: #07143a;
    opacity: .7
}
.contact-me.lightForm input:focus:-ms-input-placeholder,.contact-me.lightForm textarea:focus:-ms-input-placeholder {
    color: #07143a;
    opacity: 1
}
/*contact widget ends*/
/*categories*/
.collection-sidebar {
    padding-left: 7px;
    width: 21%;
}
.sidebar-content h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    border-bottom: 1px solid #c6c6c6;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.menu-left {
    margin-bottom: 45px;
}
.menu-left li {
    margin: 15px 0;
    list-style-type: none;
}
.calendar_wrap td a, .calendar_wrap td#today {
    font-weight: bold;
}
.calendar_wrap tr #next{text-align: right;}
.menu-left a {
    font-weight: 500;
    text-transform: capitalize;
    font-size: 13px;
    padding-bottom: 5px;
    letter-spacing: 0.3px;
}
.menu-left a:hover {
    margin-left: 3px;
    transition: .5s;
}
/*end categories*/
/*Archives Dropdown*/
#archives-dropdown--1,
.postform,
.textwidget select {
    width: 100%;
    padding: 5px 20px 5px 5px;
    margin-top: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url(../images/down-arrow.png) no-repeat 97%;
    border: 1px solid #c6c6c6;
    background-size: 6%;
    cursor: pointer;
    outline: 1px solid transparent;
    background-size: 15px;
}
select::-ms-expand {
    display: none;
}
#archives-dropdown--1:hover,
.postform:hover,
.textwidget select:hover,
#archives-dropdown--1:focus,
.postform:focus,
.textwidget select:focus {
    border-color: #14213d;
}
/*Archives Dropdown end*/
/*Calendar*/
#calendar_wrap table {
    width: 100%;
}
#wp-calendar caption {
    margin-bottom: 5px;
    color: #14231d;
}
#monster-widget-placeholder-3 {
    margin-bottom: 25px;
}
#calendar_wrap td a {
    margin-left: 0;
}
#today:hover,
.rsswidget:hover,
.wp-caption.alignnone a:hover,
.tagcloud a:hover,
#recentcomments a:hover {
    margin-left: 0;
}
#today {
    color: #fca311;
}
/*Calendar end*/
/*rss*/
.rssSummary {
    color: #14213d;
    line-height: 22px;
}
/*rss end*/
/*text*/
.wp-caption.alignnone a img {
    height: auto;
}
/*text end*/
/*refined by*/
.title-refined h3 {
    border-bottom: 0;
}
.sidebar-color-option {
    letter-spacing: 0.3px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    color: #14213d;
    margin-bottom: 15px;
    margin-top: 10px;
    cursor: pointer;
    border-top: 1px solid #e6e6e6;
    padding-top: 15px;
}
.sidebar-color-option .fa.fa-chevron-down {
    color: #14213d;
    padding-right: 5px;
    font-size: 12px;
}
.color-widget ul {
    display: inline-block;
}
.color-widget li {
    float: left;
    padding-right: 15px;
    padding-bottom: 15px;
}
.size-content li {
    padding-left: 10px;
}
.size-content ul li label {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 12px;
    color: #14213d;
}
/*end refined by*/
/*brand*/
.brand-content li {
    padding-left: 25px;
}
/*brand end*/
/*tag*/
.tagcloud a {
    font-size: 13px;
    display: inline-block;
    border-radius: 0px;
}
/*tag end*/
/*featured products*/
.featured-title h3 {
    margin-top: 35px;
}
/*featured products end*/
/*START FOOTER*/
.footer_bg {
    background: #FEF5E4;
    margin-top: 0;
}
.footer-menu {
    text-align: center;
    margin-top: 30px;
}
.footer-social-icon {
    text-align: center;
    margin-top: 25px;
}
footer ul{
    margin-left: 0;
    padding-left: 0;
}
.footer-menu li,
.footer-social-icon li {
    display: inline-block;
    text-transform: uppercase;
    padding-right: 15px;
}
.footer-menu a:hover,
.footer-social-icon a:hover,
.footer-copyright a:hover {
    color: #fca311;
}
.footer-social-icon a i {
    font-size: 18px;
}
.footer-copyright {
    text-align: center;
    margin: 15px 0 15px 0;
    opacity: 0.5;
}
/*WordPress Css start*/
.comment {
    max-width: 100%;
    position: relative;
}
.comment-body {
    padding: 0 0px 45px;
}
.comment .comment-author img {
    float: left;
    margin: 0 0 15px;
}
.comment b {
    font-weight: 500;
    padding-left: 15px;
    text-transform: capitalize;
    font-size: 15px;
    color: #14213d;
}
#review_form p.comment-form-rating {
    padding: 0;
}
.comment span {
    display: none;
}
.comment .comment-metadata a {
    padding-left: 15px;
    color: #a2a2a2;
}
.comment .comment-awaiting-moderation {
    padding-left: 93px;
    font-style: italic;
    font-weight: 400;
}
.comment .comment-content {
    padding-left: 95px;
}
.comment .comment-content p {
    font-size: 14px;
    color: #14213d;
}
.comment-respond {
    padding: 45px 0 0 5px;
}
.comment .reply {
    position: absolute;
    top: 0;
    right: 0;
}
.comment-area,
.comments-count {
    padding-left: 5px;
}
.comments-count {
    margin-left: 5px;
}
.comment-area,
.comment-area li{
    list-style-type:none;
}
.comment-notes {
    padding-top: 10px;
}
.logged-in-as,
.comment-notes {
    margin-bottom: 10px;
    color: #14213d;
}
.comment-reply-title,
.comments-count {
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    padding: 10px 0;
    display: block;
}
.comments-count h5,
.comment-respond h3 {
    margin: 0;
}
.comment-metadata {
    margin: 5px;
}
.single-blog-tag {
    font-weight: 400;
    padding: 0 30px 45px 30px;
}
.single-blog-tag span {
    padding: 0 5px;
}
.single-blog-tag a:hover {
    color: #FCA311;
}
.comment-form label {
    display: block;
}
.comment-form .comment-form-comment {
    position: relative;
    overflow: hidden;
    margin-bottom: 8px;
    width: 100%;
}

.comment-form #author,
.comment-form #email {
    float: left;
    width: 100%;
}
.comment-form #author {
    margin-right: 18px;
}
.comment-form #url {
    float: right;
    width: 100%;
}
.comment-form input,
.comment-form textarea {
    display: inline-block;
    width: 100%;
    margin: 0px 0;
    padding: 8px 12px;
    color: #a2a2a2;
    background: transparent;
    border-radius: 0px;
    border: 1px solid #a2a2a2;
    box-shadow: inherit;
    outline: 0;
}
.comment-form textarea:focus,
.comment-form #author:focus,
.comment-form #email:focus,
.comment-form #url:focus {
    border-color: #14213d;
}
.comment-form .comment-form-author, .comment-form .comment-form-email {
    display: inline-block;
    width: 33.33%;
    float: left;
    padding-right: 15px;}
.comment-form #url {
    display: inline-block;
    width: 33.33%;
    float: left;
    padding-right: 0px;}

p.form-submit {
    clear: both;
    float: none;
    display: block;
    padding-top: 15px;
    margin-bottom: 30px;
}
.comment-form .submit,.wpcf7-form input[type="submit"],.contact-me input[type="submit"] {
    background: rgb(252, 163, 17) none repeat scroll 0% 0%;
    color: rgb(255, 255, 255);
    padding: 0.715em 1em;
    text-transform: uppercase;
    border-radius: 0;
    letter-spacing: 0.5px;
    margin-right: 1px;
    border: medium none;
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    border-radius: 3px;
}
.comment-form .submit,.wpcf7-form input[type="submit"]{
    width:auto;
}
.wpcf7-form input[type="submit"]{
    padding: 8px 35px;
}
.comment-form .submit:hover,.wpcf7-form input[type="submit"]:hover,.contact-me input[type="submit"]:hover {
    background: #14213d;
    border: none;
}

/*WordPress Css ends*/
.slide-blog-title h3 {
    display: block;
    display: -webkit-box;
    max-width: 400px;
    height: auto;
    margin: 0 auto;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 40px;
    line-height: 21px;
}
/*START RESPONSIVE MEDIA*/
@media (max-width:1199px) {
    a.add-link{
        background: #fca311;
        padding:0.715em 3em;
        color: #fff;
        display: block;
    }
    a.add-link:hover {
       /* background: transparent;*/
        background: #14213d;
        color: #fff;
        opacity: 1;
        border-top-left-radius: 0px;
    }
}
  
}
@media (min-width:768px) and (max-width:1024px) {
    
    .slider-text h1 {
        font-size: 40px;
    }
    .slider-text h2::before {
        width: 6%;
        top: 44%;
        left: 2%;
    }
    .slider-text h2::after {
        right: 2%;
        width: 6%;
        top: 44%;
    }
    .kidscar_logo {
        background-size: 50%;
        height: 30px;
    }
    .signup-button {
        width: 35%;
    }
    /*on scroll*/
    
    .blackMenu #cssmenu ul ul {
        padding-top: 19px;
    }
    .kidscar_logo {
        margin-top: 15px;
    }
    .image-card img {
        height: 511px;
    }
    .kids-text-box {
        padding-left: 25px;
        padding-right: 25px;
        min-height: 500px;
    }
    .image-card {
        min-height: 500px;
    }
    .kids-right-box {
        margin: 0;
    }
    .tricycle_price {
        padding: 10px;
    }
    .tricycle_price a h3 {
        font-size: 12px;
    }
    .tricycle_price h5 {
        font-size: 14px;
        margin-top: 3px;
    }
    .contact-widget {
        margin-top: 8%;
    }
    h3.widget-title {
        font-size: 13px;
    }
    .tagcloud a {
        line-height: 28px;
    }
    .product-view-type1 {
        padding-left: 15px;
    }
    .blog1-image img {
        height: auto;
    }
    .blog1-post-img img {
        float: none;
    }
    .form-inline .form-control {
        padding: 6px 8px;
    }
    .form-submit {
        margin-bottom: 90px;
    }
    .post-text h3 {
        margin-bottom: 2%;
    }
    .product_sharing_button {
        padding-bottom: 11%;
    }
    .product_color_option select,
    .product_size_option select {
        width: 100px;
        height: 36px;
    }
    .product_color_option select {
        margin-right: 40px;
    }
    .product_size_option label {
        margin-left: -5%;
    }
    a.add-link {
        background: #fca311;
        padding: 0.715em 3em;
        color: #fff;
        display: block;
    }
    .add-link:hover {
        background: #14213d;
        color: #fff;
        opacity: 1;
        border-top-left-radius: 0px;
    }
    .add-qty .fa.fa-long-arrow-right {
        padding: 16px 15px;
    }
    .add-qty .minus-btn,
    .add-qty .plus-btn,
    .add-qty #add-quantity {
        width: 35px;
    }
    .blackMenu .kidscar_logo {
        margin-top: 30px;
    }
    .mob_nav {
        padding-left: 0;
    }
    #cssmenu > ul > li > a {
        padding: 16px 10px;
    }
    .blackMenu #cssmenu > ul > li > a {
        padding: 15px 10px 34px 10px;
    }
    .blackMenu li.header-cart {
        margin-top: 8px;
    }
    li.header-cart {
        margin-left: 2px;
        padding: 7px;
        margin-top: 8px;
    }
    #cssmenu > ul > li.menu-item-has-children > a::after {
        top: 19px;
    }
    /**blog**/
    .sidebar-content {
        padding-right: 0;
    }
    .blog-slide-post {
        padding: 0 15px 0 15px;
    }
    /*single blog*/
    .container-55 {
        width: auto;
    }
    
}
@media (min-width:768px) and (max-width:991px) {
    .kidscar_logo {
        background-size: 100%;
        height: 30px;
    }
    .woocommerce a.add_to_cart_button{
        padding: 0.715em 1em;
    }
    a.add-link{
        background: #fca311;
        padding: 0.515em 1em;
        color: #fff;
        display: block;
    }
    .add-link:hover {
        background: #14213d;
        color: #fff;
        opacity: 1;
        border-top-left-radius: 0px;
    }
}
@media (max-width:780px) {
    #cssmenu ul ul li:hover > a,
    #cssmenu ul ul li a:hover {
        color: #fff;
    }
}
@media (max-width:767px) {
    /*main logo*/
    img.custom-logo {
        margin-top: 9px;
        margin-bottom:5px;
        max-width: 210px;
        max-height: 50px !important;
        display: inline-block;
        padding:0px;
    }
    /*main menu*/
    #cssmenu {
        width: 100%;
        margin-top: 0px;
    }
    .navbar-fixed-bottom,
    .navbar-fixed-top {
        position: absolute;
        background: #ffffff;
    }
    .sub-header-fixed #cssmenu > ul > li > a {
        padding: 15px 15px 15px 15px;
    }
    #cssmenu ul ul li:hover > a,
    #cssmenu ul ul li a:hover {
        color: #fff;
        transition: all 0.6s;
        background: #fff;
    }
    #cssmenu .mobilemenu {
        width: 100%;
        height: auto;
        visibility: visible;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        margin-top: 10px;
        max-height: 350px;
        overflow-y: auto;
    }
    #cssmenu ul {
        width: 100%;
        display: none;
    }
    #cssmenu.align-center > ul,
    #cssmenu.align-right ul ul {
        text-align: left;
    }
    #cssmenu ul li,
    #cssmenu ul ul li,
    #cssmenu ul li:hover > ul > li {
        width: 100%;
        height: auto;
        border-top: 1px solid rgba(120, 120, 120, 0.15);
    }
    #cssmenu ul li a,
    #cssmenu ul ul li a {
        width: 100%;
        color: #000;
        padding: 10px 25px;
    }
    #cssmenu > ul > li:hover > a {
        color: #fca311;
        transition: all 0.5s;
    }
    #cssmenu > ul > li,
    #cssmenu.align-center > ul > li,
    #cssmenu.align-right > ul > li {
        float: none;
        display: block;
    }
    #cssmenu ul ul li a {
        display: table-cell;
        padding:15px;
        font-size: 12px;
        color: #14213d;
        background: none;
    }
    #cssmenu ul ul li:hover > a,
    #cssmenu ul ul li a:hover {
        color: #fca311;
        transition: all 0.5s;
        background: transparent;
    }
    #cssmenu ul ul,
    #cssmenu ul ul ul {
        position: relative;
        left: 0;
        right: auto;
        width: 100%;
        margin: 0;
    }
    #cssmenu > ul > li.menu-item-has-children > a::after,
    #cssmenu ul ul li.menu-item-has-children > a::after {
        display: none;
    }
    #menu-line {
        display: none;
    }
    #cssmenu #menu-button {
    display: block;
    position: absolute;
    bottom: 43px;
    right: 0;
    z-index: 9;
    }
    #cssmenu #menu-button {
    display: block;
    color: #000000;
    cursor: pointer;
    font-size: 12px;
    text-transform: uppercase;
    margin-top: -61px;
    margin-bottom: 10px;
    top: 15px;
    right: 0px;
    height: 30px;
    width: 23px;
}
    .blackMenu #cssmenu #menu-button::after {
        content: '';
    position: absolute;
    top: 20px;
    right: 0px;
    display: block;
    width: 22px;
    height: 2px;
    background: #000000;
    }
    .blackMenu #cssmenu #menu-button::before {
        content: '';
    position: absolute;
    top: 10px;
    right: 0px;
    display: block;
    width: 22px;
    height: 7px;
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
    }
    #cssmenu #menu-button::after {
            content: '';
    position: absolute;
    top: 20px;
    right: 0px;
    display: block;
    width: 22px;
    height: 2px;
    background: #000000;
    }
    #cssmenu #menu-button::before {
        content: '';
    position: absolute;
    top: 10px;
    right: 0px;
    display: block;
    width: 22px;
    height: 7px;
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
    }
    .blackMenu {
        background: #fff;
        width: 100%;
        top: inherit;
    }
    #cssmenu .submenu-button {
        position: absolute;
        z-index: 10;
        right: 0;
        top: 0;
        display: block;
        height: 43px;
        width: 43px;
        cursor: pointer;
    }
    #cssmenu .submenu-button::after {
            content: '';
            position: absolute;
            top: 17px;
            left: 21px;
            display: block;
            width: 1px;
            height: 11px;
            background: #000000;
            z-index: 99;
    }
    #cssmenu .submenu-button::before {
            content: '';
            position: absolute;
            left: 16px;
            top: 22px;
            display: block;
            width: 11px;
            height: 1px;
            background: #000000;
            z-index: 99;
    }
    #cssmenu .submenu-button.submenu-opened:after {
        display: none;
    }
    #cssmenu ul {
        background: #ffffff;
    }
    .header-cart {
        margin-top: 6%;
        display: none;
    }
    .mob_nav .fa.fa-shopping-cart.mob-cart {
        color: #000000;
        position: absolute;
        right: 56px;
        top: 48px;
        font-size: 19px;
        padding: 3px;
        display: block;
    }
    .blackMenu .mob_nav .fa.fa-shopping-cart {
        color: #000000;
    }
    .fixed-header #cssmenu ul li a {
        display: none;
    }
    .kids-title h4 {
        line-height: 25px;
    }
    .kidscar_logo {
        margin-top: 0;
        background-image: url(../images/logo-b.png);
        background-size: 200px;
    }
    .mob_nav {
        opacity: 0.9;
        padding: 0;
        position: relative;
        right: 0;
        margin-top: 0px;
        width: 100%;
    }
    

    .filter-show.btn-group {
    padding-top: 0px;
}
    .blog1-post-btn {
        margin-top: 40px;
    }
    .keep-touch-button {
        margin: 40px 0 40px;
    }
    .line {
        width: 10%;
        margin: 2% auto;
    }
    .featured,
    .section {
        margin: 40px 0 40px 0;
    }
    .kids-right-box h1::after {
        margin: 2% auto;
    }
    .visible-xs {
     display: none !important; 
}
    .kids-left-box h1,
    .kids-left-box .kids-text-box h2,
    .kids-text-box p {
        margin-right: 0;
        text-align: center;
    }
    .mob-xs {
        width: 50%;
        margin-bottom: 20px;
    }
    .tricycle_price {
        padding: 10px;
    }
    .tricycle_price a h3,
    .tricycle_price h5 {
        font-size: 13px;
    }
    .tricycle_price h5 {
        margin-top: 2px;
    }
    .add-qty .fa.fa-long-arrow-right {
        padding: 16px 16px;
        float: right;
    }
    .add-qty .minus-btn {
        width: 35px;
    }
    .addtxt {
        display: inline-flex;
    }
    .blog-header-category .demo select {
        width: 100px;
        background-size: 14%;
    }
    .blog-content {
        margin-top: 0;
        margin-bottom: 0;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        /* optional */
        -webkit-box-align: start;
        -moz-box-align: start;
        -ms-flex-align: start;
        -webkit-align-items: flex-start;
        align-items: flex-start;
    }
    .sidebar-content{
        -webkit-box-ordinal-group: 2;
        -moz-box-ordinal-group: 2;
        -ms-flex-order: 2;
        -webkit-order: 2;
        order: 2;
    }

    .blog-post {
        -webkit-box-ordinal-group: 1;
        -moz-box-ordinal-group: 1;
        -ms-flex-order: 1;
        -webkit-order: 1;
        order: 1;
    }
    .main-blog-hover {
        margin-bottom: 30px;
    }
    .keep-touch-content {
        margin-top: 70px;
    }
    .blog-slide-post {
        padding: 0 15px 0 15px;
    }
    .slide-blog-title h3 {
        margin: inherit;
    }
    .nav-links {
        margin-bottom: 15px;
    }
    .single-blog-tag {padding: 0px 0px 45px 0px;}
    /*end blog*/
    /*single blog*/
    .container-55 {
        width: auto;
    }
    .blog1-main-items,
    .blog1-imagesItems-content {
        padding-left: 0;
    }
    .md-right {
        padding: 0;
    }
    .blog1-subtext-content {
        padding: 0;
    }
    .blog1-comment-form-content .form-control {
        width: 100%;
    }
    .comment-form #author,
    .comment-form #email,
    .comment-form #url {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }
    .comment-form .comment-form-author, .comment-form .comment-form-email {
    display: inline-block;
    max-width: 100%;
    width: 100%;
    float: left;
    padding-right: 0px;
}
    /*single blog end*/
    .form-submit {
        margin-bottom: 45px;
    }
    .post-title h2 {
        font-size: 23px;
    }
    .signup-button {
        padding: 15px 7px 10px 7px;
        width: auto;
    }
    .keep-touch-mail .form-control {
        padding: 6px 50px;
        width: auto;
    }
    .footer-menu li {
        padding-right: 5px;
    }
    .slider-button {
        margin-top: 90px;
    }
    .keep-touch-subtitle {
        padding: 0 15px 0 15px;
    }
}
@media (max-width: 600px){
    .blackMenu {
        top: 0;
    }
    .comment-area .children{padding-left: 5px;}
}
@media (max-width:480px) {
    a.add-link{
        padding: 0.515em 1em;
    }
    .filter-show.btn-group{float: left;padding-top: 10px;}
    .blog1-container-xs .row {margin-right: -15px;margin-left: -15px;}
    .woocommerce .woocommerce-ordering, .woocommerce-page .woocommerce-ordering{float: left;}
    .woocommerce .woocommerce-result-count{ margin-top: 0px;}
}
@media (max-width:380px) {
    .image-card {
        min-height: 250px;
    }
    .mob-xs {
        width: 100%;
    }
    .featured-cart {
       /* top: 86.5%;*/
    }
    a.add-link{
        background: #fca311;
        padding: 0.515em 2em;
        color: #fff;
        display: block;
    }
    .add-qty .minus-btn,
    .add-qty #add-quantity,
    .add-qty .plus-btn {
        width: 55px;
        height: 46px;
    }
    .add-qty .fa.fa-long-arrow-right {
        padding: 16px 39px;
        float: right;
    }
    .footer_bg {
        padding-left: 20px;
        padding-right: 20px;
    }
}